<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if lang == 'en' %}ABOUT{% else %}关于{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href={% static 'css/adetail.css'%}>
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css'%}>
    <link rel="stylesheet" href={% static 'css/tomorrow.min.css'%}>
    <link rel="stylesheet" href={% static 'css/about.css'%}>
    <script type="text/javascript" src={% static 'js/jquery.min.js'%}></script>
    <script type="text/javascript" src={% static 'js/bootstrap.min.js'%}></script>
    <script type="text/javascript" src={% static 'js/highlight.min.js'%}></script>
</head>
<body>
{% include 'header.html' with lang=lang active='about' %}
<div class="container" style="margin-top: 6rem;">
    <span id="date">&nbsp;</span>
    <span id="time"> </span>

    <div style="margin:2.5rem 0;">
        <div class="markdown col-sm-9">
            {% autoescape off %}{{ md }}{% endautoescape %}
        </div>
    </div>
</div>

{% include 'footer.html' with lang=lang %}
<script>

    mytime()
    hljs.initHighlightingOnLoad()

    function mytime() {
        var initTime = [2018, 4, 1, 0, 0, 0]
        setInterval(function () {
            var myDate = new Date();
            var year = myDate.getFullYear();
            var month = myDate.getMonth() + 1;
            var date = myDate.getDate();
            var h = myDate.getHours();
            var m = myDate.getMinutes();
            var s = myDate.getSeconds();
            $('#date').html((year - initTime[0]) + ' year ' + (month - initTime[1]) + ' month ' + (date - initTime[2]) + ' date ');
            $('#time').html(' : '+(h - initTime[3]) + ' h ' + (m - initTime[4]) + ' m ' + (s - initTime[5]) + ' s ');
        }, 1000)
    }
</script>
</body>
</html>