<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if lang == 'en' %}ARTICLE{% else %}文章{% endif %}</title>
    <style>
        [v-cloak] {
        display: none !important;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/article.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'header.html' with lang=lang active='article' %}
<div class="container" id="list">
    <div class="row">
        <div class="col-sm-9">
            <div style="min-height: 50rem">
                <div v-cloak v-for="item in items">
                    {% verbatim myblock %}
                        <div class="articlecontent">
                            <div class="data float-left">
                                <div class="year">{{ item.time }}</div>
                                <div class="time text-center">{{ item.data }}</div>
                            </div>
                            <div class="right" @click="todetail(item.id)">
                                <div class="name">{{ item.name }}</div>
                                <div class="author">{{ item.author }}</div>
                                <div class="label">{{ item.label }}</div>
                                <div class="detail">{{ item.detail }}</div>
                            </div>
                        </div>
                    {% endverbatim myblock %}
                </div>
            </div>
            {% include 'footpage.html' %}
        </div>
        <div class="d-none d-sm-block col-sm-3">
            {% include 'rightlist.html' with list=list %}
        </div>
    </div>
</div>
{% include 'downbutton.html' with list=list %}
{% include 'footer.html' with lang=lang %}
<script>
    var mylist;
    $(document).ready(function () {
        mylist = new Vue({
            el: '#list',
            data: {
                items: [],
                page: 1,
                pageList: [],
                totalPage: 1
            }
        })
        if ("{{ label }}" == "") {
            ajaxArticle('1')
        } else {
            ajaxLabel('1')
        }
    })

    function todetail(id) {
        $(location).attr('href', '/adetail/' + id);
    }

    function toPage(page) {
        $(window).scrollTop(0);
        if ("{{ label }}" == "") {
            console.log("article")
            ajaxArticle(page)
        } else {
            console.log("label")
            ajaxLabel(page)
        }

    }

    function ajaxArticle(page) {
        $.ajax({
            url: "/articleList",
            data: {
                page: page
            },
            dataType: "json",
            success: function (res) {
                show(res)
            }
        })
    }

    function ajaxLabel(page) {
        $.ajax({
            url: "/labelList",
            data: {
                label: '{{ label }}',
                page: page
            },
            dataType: "json",
            success: function (res) {
                show(res)
            }
        })
    }

    function show(res) {
        mylist.items = res.list;
        mylist.page = res.page;
        mylist.pageList = res.pageList;
        mylist.totalPage = res.totalPage;
        console.log(res)
        if (mylist.page == '1' && mylist.page == mylist.totalPage) {
            $("#firstPage").addClass("d-none")
            $("#lastPage").addClass("d-none")
        } else if (mylist.page == '1') {
            $("#firstPage").addClass("d-none")
            $("#lastPage").removeClass("d-none")
        } else if (mylist.page == mylist.totalPage) {
            $("#firstPage").removeClass("d-none")
            $("#lastPage").addClass("d-none")
        } else {
            $("#firstPage").removeClass("d-none")
            $("#lastPage").removeClass("d-none")
        }
        $(".page-item").each(function () {
            console.log($(this).text() + " " + mylist.page + " ")
            if ($(this).text() == mylist.page) {
                $(this).addClass("active")
            } else {
                $(this).removeClass("active")
            }
        })
    }
</script>
</body>
</html>