<link rel="stylesheet" href="../static/css/footpage.css">
<ul class="row pagination footpage">
    <li class="page-item" id="firstPage">
        <button class="btn page-link" @click="toPage(page - 1)">{% if lang == 'en' %}Previous{% else %}上一页{% endif %}</button>
    </li>
    <li class="page-item">
        <button class="btn page-link" @click="toPage(1)">1</button>
    </li>
    {% verbatim myblock %}
        <div v-cloak v-for="pages in pageList">
            <li class="page-item" v-if="pages == '-1'">
                <button class="btn page-link d-none" @click="toPage(pages)"></button>
            </li>
            <li class="page-item disabled" v-else-if="pages == '0'">
                <button class="btn page-link" @click="toPage(pages)">...</button>
            </li>
            <li class="page-item" v-else>
                <button class="btn page-link" @click="toPage(pages)">{{ pages }}</button>
            </li>
        </div>
    {% endverbatim myblock %}
    <li class="page-item">
        {% verbatim myblock %}
            <button v-cloak class="btn page-link" @click="toPage(totalPage)" v-if="totalPage != '1'">{{ totalPage }}</button>
        {% endverbatim myblock %}
    </li>
    <li class="page-item" id="lastPage">
        <button class="btn page-link" @click="toPage(page + 1)">{% if lang == 'en' %}Next{% else %}下一页{% endif %}</button>
    </li>
</ul>