<link rel="stylesheet" href="../static/css/footer.css">
<div class="footer">
    <div class="link_block float-left text-center">
        <p>{% if lang == 'en' %}SITEMAP{% else %}站点{% endif %}</p>
        <div class="line"></div>
        <a href="/">{% if lang == 'en' %}HOME{% else %}首页{% endif %}</a>
        <a href="article">{% if lang == 'en' %}ARTICLE{% else %}文章{% endif %}</a>
        <a href="picture">{% if lang == 'en' %}PICTURE{% else %}图片{% endif %}</a>
    </div>
    <div class="link_block float-left text-center">
        <p>{% if lang == 'en' %}SOCIAL{% else %}社交{% endif %}</p>
        <div class="line"></div>
        <a href="https://github.com/UniqueDing">{% if lang == 'en' %}GITHUB{% else %}GITHUB{% endif %}</a>
        <a href="https://hub.docker.com/u/uniqueding">{% if lang == 'en' %}DOCKER HUB{% else %}DOCKER HUB{% endif %}</a>
        <a href="https://space.bilibili.com/19445169">{% if lang == 'en' %}BILIBILI{% else %}BILIBILI{% endif %}</a>
    </div>
    <div class="link_block float-left text-center">
        <p>{% if lang == 'en' %}LINK{% else %}链接{% endif %}</p>
        <div class="line"></div>
        <a href="https://www.python.org/">{% if lang == 'en' %}PYTHON{% else %}PYTHON{% endif %}</a>
        <a href="https://www.djangoproject.com/">{% if lang == 'en' %}DJANGO{% else %}DJANGO{% endif %}</a>
        <a href="http://www.w3school.com">{% if lang == 'en' %}W3C{% else %}W3C{% endif %}</a>
    </div>
    <div class="link_block float-left text-center">
        <p>{% if lang == 'en' %}ABOUT{% else %}关于{% endif %}</p>
        <div class="line"></div>
        <a href="about">{% if lang == 'en' %}ABOUT{% else %}关于{% endif %}</a>
    </div>
    <div class="mail float-none text-center">
        <p>&copy;2020</p>
    </div>
</div>
