<link rel="stylesheet" href="../static/css/footer.css">
<div class="footer">
    <div class="link_block float-left text-center">
        <p>{% if lang == 'en' %}SITEMAP{% else %}站点{% endif %}</p>
        <div class="line"></div>
        <a href="/">{% if lang == 'en' %}HOME{% else %}首页{% endif %}</a>
        <a href="article">{% if lang == 'en' %}ARTICLE{% else %}文章{% endif %}</a>
        <a href="picture">{% if lang == 'en' %}PICTURE{% else %}图片{% endif %}</a>
{#        <a href="music">{% if lang == 'en' %}MUSIC{% else %}音乐{% endif %}</a>#}
    </div>
    <div class="link_block float-left text-center ">
        <p>{% if lang == 'en' %}SOCIAL{% else %}社交{% endif %}</p>
        <div class="line center-block"></div>
        <a href="https://github.com/UniqueDing">{% if lang == 'en' %}GITHUB{% else %}GITHUB{% endif %}</a>
        <a href="https://zh-cn.facebook.com/people/Unique-Ding/100011223431795">{% if lang == 'en' %}FACEBOOK{% else %}FACEBOOK{% endif %}</a>
        <a href="https://leanote.uniqueding.cn">{% if lang == 'en' %}Leanote{% else %}蚂蚁笔记{% endif %}</a>
        <a href="https://weibo.com/u/5254845075">{% if lang == 'en' %}WEIBO{% else %}微博{% endif %}</a>
    </div>
    <div class="link_block float-left text-center">
        <p>{% if lang == 'en' %}LINK{% else %}链接{% endif %}</p>
        <div class="line"></div>
        <a href="https://www.python.org/">{% if lang == 'en' %}PYTHON{% else %}PYTHON{% endif %}</a>
        <a href="https://www.djangoproject.com/">{% if lang == 'en' %}DJANGO{% else %}DJANGO{% endif %}</a>
        <a href="http://www.jetbrains.com/pycharm">{% if lang == 'en' %}PYCHARM{% else %}PYCHARM{% endif %}</a>
        <a href="http://www.w3school.com">{% if lang == 'en' %}W3C{% else %}W3C{% endif %}</a>
    </div>
    <div class="link_block float-left text-center">
        <p>{% if lang == 'en' %}ABOUT{% else %}关于{% endif %}</p>
        <div class="line"></div>
        <a href="about">{% if lang == 'en' %}ABOUT{% else %}关于{% endif %}</a>
    </div>
    <div class="mail float-none text-center">
        <p>&copy;2020 | e-mail:1224472370@qq.com</p>
    </div>
</div>
