<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/article.css">
    <link rel="stylesheet" href="../static/css/picture.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <style>
        .nav_bg img {
            min-width: 100%;
            background-size: cover;
        }
    </style>
</head>
<body>

{% include 'header.html' with lang=lang active='index' %}
<div class="nav_bg">
    <img src="../static/img/index3.jpg" class="nav_bg_img img-fluid">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div>
                {% for article in articles %}
                    <div class="articlecontent">
                        <div class="data float-left">
                            <div class="year">{{ article.time }}</div>
                            <div class="time text-center">{{ article.data }}</div>
                        </div>
                        <div class="right" onclick="toArticle({{ article.id }})">
                            <div class="name">{{ article.name }}</div>
                            <div class="author">{{ article.author }}</div>
                            <div class="label">{{ article.label }}</div>
                            <div class="detail">{{ article.detail }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            {% for picture in pictures %}
                <div class="picturecontent" onclick="toPicture({{ picture.id }})">
                    <div class="name"><p>{{ picture.name }}</p></div>
                    <div class="pic"><img height="100%" width="100%" src="{{ picture.pic }}"></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% include 'footer.html' with lang=lang %}
<script>
    $(".navbar").removeClass("bg-light")
    $(".navbar").addClass("navbar-transparent d-none")
    $(window).scroll(function () {
        var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
        {#        console.log(scrollTop);#}
        var h = $('.nav_bg_img').height();
        switch (true) {
            case h / 10 * 0 <= scrollTop && h / 10 * 1 > scrollTop :
                $(".navbar").addClass("d-none")
                $(".navbar").css("background", "rgba(255,255,255,0)");
                break;
            case h / 10 * 1 <= scrollTop && h / 10 * 2 > scrollTop :
                $(".navbar").removeClass("d-none")
                $(".navbar").css("background", "rgba(255,255,255,0.10)");
                break;
            case h / 10 * 2 <= scrollTop && h / 10 * 3 > scrollTop :
                $(".navbar").removeClass("d-none")
                $(".navbar").css("background", "rgba(255,255,255,0.20)");
                break;
            case h / 10 * 3 <= scrollTop && h / 10 * 4 > scrollTop :
                $(".navbar").removeClass("d-none")
                $(".navbar").css("background", "rgba(255,255,255,0.30)");
                break;
            case h / 10 * 4 <= scrollTop && h / 10 * 5 > scrollTop :
                $(".navbar").removeClass("d-none")
                $(".navbar").css("background", "rgba(255,255,255,0.50)");
                break;
            case h / 10 * 5 <= scrollTop && h / 10 * 6 > scrollTop :
                $(".navbar").removeClass("d-none")
                $(".navbar").css("background", "rgba(255,255,255,0.75)");
                break;
            case h / 10 * 6 <= scrollTop  :
                $(".navbar").removeClass("d-none")
                $(".navbar").css("background", "rgba(255,255,255,1)");
                break;
        }
    })
    $(".navbar-toggler").click(function () {
        {#        console.log($(".navbar-toggler").attr("aria-expanded"))#}
        if ($(".navbar-toggler").attr("aria-expanded") == 'true') {
            setTimeout(function () {
                $(".navbar").removeClass("bg-light")
            }, 350)
        }
        else {
            $(".navbar").addClass("bg-light")
        }
    })

    function toPicture(id) {
        $(location).attr('href', '/pdetail/' + id);
    }

    function toArticle(id) {
        $(location).attr('href', '/adetail/' + id);
    }


</script>
</body>
</html>