<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if lang == 'en' %}MOVIE{% else %}电影{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'header.html' with lang=lang active='movie'%}
<div class="container" style="padding-top:5rem">
		<div class = "movie_url row" style="display:{{movie_changed}}">
				<input class="form-control col-md-10" id="movie_url_text" type="text" value="{{movie_url}}">
				<button class="btn col-md-2" id="movie_url_btn" onclick="click_btn_movie()">{% if lang == 'en' %}SUBMIT{% else %}提交{% endif %}</button>
		</div>
		<video id="mainVideo" controls autoplay src="{{movie_url}}" style="width:100%">
		</video>
</div>
{% include 'footer.html' with lang=lang%}
<script>
    var movie = document.getElementById("mainVideo")
    var movie_url = '{{ movie_url }}'
    var movie_src = movie_url
    var movie_status = {{ movie_status }} // 1 play 0 pause
    var movie_rate = {{ movie_rate }}
    var is_admin = '{{movie_changed}}'
    var movie_changed = getQueryVariable('changed')


    var movie_changed_other = 0
	var movie_last_status = 0
	var delay = 2
	var play_delay = 0


    $(document).ready(function(){
		if(movie_status == 0)
			movie.pause()
        movie.currentTime = movie_rate
		setInterval("loop()", 2000)
    })

    function click_btn_movie()
    {
		movie.src = $("#movie_url_text").val()
		movie.url = movie.src
    }

    function loop()
    {
        if(is_admin == 'display')
		{
            movie_submit()
		}
		else
		{
		    movie_update()
		}
	}

    function movie_submit()
    {
		movie_url = movie.src
		movie_rate = movie.currentTime
		movie_status = bool2int(!movie.paused)
		movieset()
    }
    
    function movie_update()
    {
		movieget()

        if(movie.src != movie_url)
		{
		    movie.src = movie_url
		}
		if(movie.currentTime - movie_rate > 10 || movie.currentTime - movie_rate < -10)
		{
			movie.currentTime = movie_rate
		}
		if(bool2int(!movie.paused) != movie_status)
		{
		    
			if(movie_status == 0)
			{
				movie.pause()
			}
			else if(movie_status == 1)
			{
				movie.play()
			}
        }
    }

    function loop2()
    {
		//play and pause
		if(bool2int(movie.paused) != movie_last_status)
		{
			movie_status = bool2int(!movie.paused)
			play_delay = delay
			movieset(movie_changed)
		    //console.log("object")
			movie_last_status = bool2int(movie.paused)
			return
		}
		if(play_delay > 0)
		{
			play_delay = play_delay - 1
			movieset(movie_changed)
			return
		}
		
		movie_last_status = bool2int(movie.paused)
		movieget()
		//if(movie_src != movie_url)
		//	console.log("changed" + movie_src + ' ' + movie_url)
		//	movie_src = movie_url
		//	movie.src('/static/movie/' + movie_url)
		if(-1 != movie_status)
		{
			if(movie_status == 0)
			{
				movie.pause()
			}
			else if(movie_status == 1)
			{
				movie.play()
			}
		    //console.log("play or pause")
		}
		if(movie_changed > 0)
		{
		    movie_changed = movie_changed - 1
		    return
		}
        else if(movie_changed_other > 0)
		{
			movie.currentTime = movie_rate
		}
		else
		{
		    if(movie.currentTime - movie_rate > 10)
		    {
		    	//movie.currentTime = movie_rate
		        movie_rate = movie.currentTime
				movie_changed = delay 
		    }
		    else if(movie.currentTime - movie_rate < -10)
		    {
		    	//movie.currentTime = movie_rate
		        movie_rate = movie.currentTime
		        movie_changed = delay 
		    }
		    else
		    {
		        movie_rate = movie.currentTime
		    }
		}
	    movie_status = -1
	    movieset(movie_changed)
	}


    function movieset()
    {
		$.ajax({
		    url:"/movieset",
		    data:{
				movie_url: movie_url,
				movie_status: movie_status,
				movie_rate: movie_rate,
				movie_changed: movie_changed,
			},
		    dataType: "json",
		    success: function (res) {
			    //console.log(res) 
			}
		}) 
    }


    function movieget()
    {
		$.ajax({
		    url:"/movieget",
		    dataType: "json",
		    success: function (res) {
			    //console.log(res) 
		        movie_url = res.movie_url
				movie_status = res.movie_status
				movie_rate = res.movie_rate
			}
		}) 
    }


	function bool2int(obj)
    {
		if(obj == true)
		{
			return 1
		}
		else
		{
			return 0
		}
    }


    function getQueryVariable(variable)
    {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
    }

//reurn false 禁止函数内部执行其他的事件或者方法
    var vol = 0.1;  //1代表100%音量，每次增减0.1
    var time = 10; //单位秒，每次增减10秒

    document.onkeyup = function (event) {//键盘事件

        //console.log("keyCode:" + event.keyCode);
        var e = event || window.event || arguments.callee.caller.arguments[0];

        //鼠标上下键控制视频音量
        if (e && e.keyCode === 38) {

            // 按 向上键
            movie.volume !== 1 ? movie.volume += vol : 1;
            return false;

        } else if (e && e.keyCode === 40) {

            // 按 向下键
            movie.volume !== 0 ? movie.volume -= vol : 1;
            return false;

        } else if (e && e.keyCode === 37) {

            // 按 向左键
            movie.currentTime !== 0 ? movie.currentTime -= time : 1;
            return false;

        } else if (e && e.keyCode === 39) {

            // 按 向右键
            movie.volume !== movie.duration ? movie.currentTime += time : 1;
            return false;

        } else if (e && e.keyCode === 32) {

            // 按空格键 判断当前是否暂停
            movie.paused === true ? movie.play() : movie.pause();
            return false;
        }

    };
</script>
</body>
</html>
