<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if lang == 'en' %}MUSIC{% else %}音乐{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'header.html' with lang=lang active='music'%}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p class="text-center">页面建设中</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include 'footer.html' with lang=lang%}
</body>
</html>