<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{% if lang == 'en' %}PICTURE{% else %}图片{% endif %}</title><style>
        [v-cloak] {
        display: none !important;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/picture.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'header.html' with lang=lang active='picture' %}
<div class="container" id="list" style="margin-top: 4rem">
    <div class="row">
        <div class="col-sm-9">
            <div style="min-height: 20rem" class="row left">
                <div v-cloak v-for="item in items" class="col-sm-6 one_block">
                    {% verbatim myblock %}
                            <div v-if="item.order == 'true'"  >
                                <div class="left_content row" @click="todetail(item.id)">
                                    <div class="col-lg-6 pic"><img height="100%" width="100%" v-bind:src="item.pic"></div>
                                    <div class="col-lg-6" style="padding:0">
                                        <div class="line"></div>
                                        <div class="name">{{ item.name }}</div>
                                        <div class="author">{{ item.author }}</div>
                                        <div class="label">{{ item.label }}</div>
                                        <div class="detail">{{ item.detail }}</div>
                                        <div class="time">{{ item.time }}</div>
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <div class="right_content row" @click="todetail(item.id)">
                                    <div class="col-lg-6">
                                        <div class="line"></div>
                                        <div class="name">{{ item.name }}</div>
                                        <div class="label">{{ item.label }}</div>
                                        <div class="author">{{ item.author }}</div>
                                        <div class="detail">{{ item.detail }}</div>
                                        <div class="time">{{ item.time }}</div>
                                    </div>
                                    <div class="col-lg-6 pic"><img height="100%" width="100%" v-bind:src="item.pic"></div>
                                </div>
                            </div>
                    {% endverbatim myblock %}
                </div>
            </div>
            {% include 'footpage.html' %}
        </div>
        <div class="d-none d-sm-block col-sm-3">
            {% include 'rightlist.html' with list=list %}
        </div>
    </div>

</div>
{% include 'downbutton.html' with list=list %}
{% include 'footer.html' with lang=lang %}
<script>
    var mylist;
    $(document).ready(function () {
        mylist = new Vue({
            el: '#list',
            data: {
                items: [],
                page: 1,
                pageList: [],
                totalPage: 1
            },
        })
        if ("{{ label }}" == "") {
            ajaxArticle('1')
        } else {
            ajaxLabel('1')
        }
    })

        function todetail(id) {
            $(location).attr('href', '/pdetail/' + id);
        }

    function toPage(page) {
        $(window).scrollTop(0);
        if ("{{ label }}" == "") {
            console.log("picture")
            ajaxArticle(page)
        } else {
            console.log("label")
            ajaxLabel(page)
        }
    }

    function ajaxArticle(page) {
        $.ajax({
            url: "/pictureList",
            data: {
                page: page
            },
            dataType: "json",
            success: function (res) {
                show(res)
            }
        })
    }

    function ajaxLabel(page) {
        $.ajax({
            url: "/plabelList",
            data: {
                label: '{{ label }}',
                page: page
            },
            dataType: "json",
            success: function (res) {
                show(res)
            }
        })
    }

    function show(res) {
        mylist.items = res.list;
        mylist.page = res.page;
        mylist.pageList = res.pageList;
        mylist.totalPage = res.totalPage;
        console.log(res)
        if (mylist.page == '1' && mylist.page == mylist.totalPage) {
            $("#firstPage").addClass("d-none")
            $("#lastPage").addClass("d-none")
        } else if (mylist.page == '1') {
            $("#firstPage").addClass("d-none")
            $("#lastPage").removeClass("d-none")
        } else if (mylist.page == mylist.totalPage) {
            $("#firstPage").removeClass("d-none")
            $("#lastPage").addClass("d-none")
        } else {
            $("#firstPage").removeClass("d-none")
            $("#lastPage").removeClass("d-none")
        }
        $(".page-item").each(function () {
            console.log($(this).text() + " " + mylist.page + " ")
            if ($(this).text() == mylist.page) {
                $(this).addClass("active")
            } else {
                $(this).removeClass("active")
            }
        })
    }
</script>
</body>
</html>